[profile.release]
panic = "unwind"

[workspace]
members = [
    "client",
    "node",
    "runtime",
    "pallets/pdex-migration",
    "pallets/chainbridge",
    "pallets/asset-handler",
    "pallets/pdex-migration",
    "pallets/polkadex-ido",
    "pallets/ocex",
    "pallets/test-token-provider"
]


[patch."https://github.com/open-web3-stack/open-runtime-module-library.git"]
orml-vesting = { git = "https://github.com/Polkadex-Substrate/open-runtime-module-library.git",  branch="polkadot-v0.9.28"}

