[package]
name = "orderbook-primitives"
version = "0.1.0"
edition = "2021"

[dependencies]
primitive-types = { version = "0.12.1", default-features = false, features = ["scale-info"] }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
sp-api = { workspace = true }
sp-io = { workspace = true }
sp-application-crypto = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
polkadex-primitives = { workspace = true }
chrono = { version = "0.4.23", optional = true }
rand = { version = "0.8.5", optional = true }
serde = { version = "1.0.152", optional = true, default-features = false }
serde_with = { version = "2.3.2", features = ["json"], optional = true }
anyhow = { version = "1.0.69", default-features = false }
rust_decimal = { git = "https://github.com/Polkadex-Substrate/rust-decimal.git", branch = "master", features = [
  "scale-codec",
], default-features = false }
bls-primitives = { path = "../bls-primitives", default-features = false }
libp2p = { version = "0.50.0", optional = true }


[dev-dependencies]
serde_json = "1.0.94"

[features]
default = ["std"]
std = [
  "primitive-types/std",
  "libp2p",
  "chrono",
  "rand",
  "bls-primitives/std",
  "serde",
  "serde_with",
  "anyhow/std",
  "rust_decimal/std",
  "polkadex-primitives/std",
  "parity-scale-codec/std",
  "scale-info/std",
  "sp-api/std",
  "sp-application-crypto/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-std/std",
]
