[Unit]
Description=Testnet
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/polkadex-node --chain=/home/ubuntu/customSpecRaw.json --name "Battery Included" --validator'
#For fullnode
#ExecStart=/home/ubuntu/polkadex-node --chain=/home/ubuntu/customSpecRaw.json --rpc-cors all --name "Full Node"'
Restart=on-failure

[Install]
WantedBy=multi-user.target
