[Unit]
Description=Testnet
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/polkadex-node --chain=/home/ubuntu/customSpecRaw.json --bootnodes /ip4/13.235.190.203/tcp/30333/p2p/12D3KooWMJ4AMmzpRbv914ZGZR6ehBhcZvGtqYid5jxSx8vXiSr7 --name "Battery Included" --validator --telemetry-url 'wss://telemetry.polkadot.io/submit/ 0'
Restart=on-failure

[Install]
WantedBy=multi-user.target
