name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install nightly
      run: rustup target add wasm32-unknown-unknown --toolchain nightly-2020-09-28
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
